.eventList {
  margin-top: 36px;
}

.eventListTab {
  font-size: 1.5rem;
  font-weight: 500;
}

.loading {
  margin-top: 16px;
}

@media (max-width: 768px) {
  .eventListTab {
    font-size: 1rem;
    font-weight: 500;
  }
}
