rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventType}/{eventId} {
      allow read: true;  // Public read access
      allow write: false;  // Write only through serverless functions
    }
  }
}