.eventContainer {
  margin-top: 30px;
  width: 100%;
}

.eventGrid {
  padding: 30px;
}

.eventDate {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  font-weight: 600;
  font-size: '1.8rem';
}

.eventName {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  font-weight: 700;
  font-size: '1.5rem';
}

.eventLocation {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  font-weight: 500;
  font-size: '1.1rem';
}

.eventLink {
  font-size: 1.1rem;
  color: #1e90ff;
  font-weight: 500;
  line-height: 1;
  font-weight: 500;
  font-size: '1.1rem';
}

.registeredNameList {
  max-width: 600px;
}

.registeredName {
  color: light-dark(var(--mantine-color-orange-9), var(--mantine-color-orange-5));
  letter-spacing: 1px;
  margin-bottom: 16px;
  margin-right: 16px;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}


/* Make adjustments for smaller screens */
@media (max-width: 768px) {
  .eventGrid {
    padding: 15px;
  }

  /* Make text smaller and more responsive */
  .eventName {
    font-size: 1.25rem; /* Smaller font for mobile */
    word-wrap: break-word; /* Allow long event names to break */
  }

  .eventDate {
    font-size: 1rem; /* Adjust font size for date */
  }

  .eventLocation {
    font-size: 1rem; /* Adjust font size for location */
  }

  .eventLink {
    font-size: 1rem; /* Adjust font size for link */
  }
}
