.eventContainer {
  width: 100%;
  margin-top: 8px;
  padding: 16px;
  border: 1px solid #868686;
  border-radius: 12px 2px 2px 2px;
}

.alert {
  max-width: 400px;
}

.eventGrid {
  padding: 30px;
}

.eventDay {
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-3));
  font-size: rem(50px);
  font-weight: 700;
  letter-spacing: rem(-1px);
  line-height: 1;
  margin-right: 8px;
  max-width: 300px;
}

.eventDate {
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-1));
  font-size: rem(30px);
  font-weight: 700;
  letter-spacing: rem(-1px);
  line-height: 1;
  margin-right: 8px;
  max-width: 300px;
}

.eventYear {
  color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-3));
  font-size: rem(20px);
  font-weight: 700;
  letter-spacing: rem(-1px);
  line-height: 1;
  margin-right: 8px;
  max-width: 300px;
}

.lightSection {
  background-color: light-dark(#f4f4f4, #363636);
  border-radius: 4px;
}

.eventName {
  letter-spacing: rem(-1px);
  font-size: rem(40px);
  font-weight: 700;
  line-height: 1.1;
  font-weight: 700;
}

.eventLocation {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  font-weight: 500;
  font-size: "1.1rem";
}

.eventLink {
  font-size: 1.1rem;
  color: #1e90ff;
  font-weight: 500;
  line-height: 1;
  font-weight: 500;
  font-size: "1.1rem";
  margin-bottom: 8px;
}

.registeredLabel {
  font-size: 1.2rem;
  letter-spacing: 1px;
  white-space: normal;
  word-wrap: break-word;
  text-align: right;
  font-style: italic;
  font-weight: 300;
}

.registeredName {
  color: light-dark(
    var(--mantine-color-orange-9),
    var(--mantine-color-orange-3)
  );
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-right: 16px;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}

.interestedRiderFlex {
  font-size: 1.2rem;
  word-wrap: break-word;
  text-align: left;
}

.interestedRiderText {
  font-size: 1.1rem;
  margin-right: 8px;
}

.formRowInput {
  margin-right: 8px;
}

.descriptionContainer {
  background-color: #2e2e2e;
  /* border: 1px solid #868686; */
  border-radius: 4px;
  text-align: left;
  padding: 8px;
  width: 100%;
}

/* Make adjustments for smaller screens */
@media (max-width: 768px) {
  .eventGrid {
    padding: 15px;
  }

  /* Make text smaller and more responsive */
  .eventName {
    font-size: rem(30px);
    word-wrap: break-word; /* Allow long event names to break */
    text-align: left;
  }

  .eventDay {
    font-size: rem(30px);
  }

  .eventDate {
    font-size: 1rem; /* Adjust font size for date */
  }

  .eventLocation {
    font-size: 1rem; /* Adjust font size for location */
  }

  .eventLink {
    font-size: 1rem; /* Adjust font size for link */
  }

  .registeredName {
    font-size: 0.9rem;
  }

  .registeredLabel {
    font-size: 0.9rem;
  }

  .interestedRiderText {
    font-size: 0.9rem;
  }
}
