.eventContainer {
  margin-top: 30px;
  width: 100%;
}

.alert {
  max-width: 400px;
}

.eventGrid {
  padding: 30px;
}

.eventDay {
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-3));
  font-size: rem(50px);
  font-weight: 700;
  letter-spacing: rem(-1px);
  line-height: 1;
  margin-left: 16px;
  margin-right: 8px;
  max-width: 300px;
}

.eventDate {
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-1));
  font-size: rem(30px);
  font-weight: 700;
  letter-spacing: rem(-1px);
  line-height: 1;
  margin-left: 16px;
  margin-right: 8px;
  max-width: 300px;
}

.eventName {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  font-weight: 700;
}

.eventLocation {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  font-weight: 500;
  font-size: "1.1rem";
}

.eventLink {
  font-size: 1.1rem;
  color: #1e90ff;
  font-weight: 500;
  line-height: 1;
  font-weight: 500;
  font-size: "1.1rem";
  margin-bottom: 8px;
}

.registeredNameList {
  max-width: 600px;
}

.registeredLabel {
  font-size: 1.2rem;
  letter-spacing: 1px;
  white-space: normal;
  word-wrap: break-word;
  text-align: right;
}

.registeredName {
  color: light-dark(
    var(--mantine-color-orange-9),
    var(--mantine-color-orange-3)
  );
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-right: 16px;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}

.interestedRiderText {
  font-size: 1.1rem;
  margin-right: 8px;
}

.plusIcon {
  margin-right: 16px;
}

.formRowInput {
  margin-right: 8px;
}

.formSide {
  min-width: 325px;
}

/* Make adjustments for smaller screens */
@media (max-width: 768px) {
  .eventGrid {
    padding: 15px;
  }

  /* Make text smaller and more responsive */
  .eventName {
    font-size: 1.25rem; /* Smaller font for mobile */
    word-wrap: break-word; /* Allow long event names to break */
  }

  .eventDay {
    font-size: rem(30px);
  }

  .eventDate {
    font-size: 1rem; /* Adjust font size for date */
  }

  .eventLocation {
    font-size: 1rem; /* Adjust font size for location */
  }

  .eventLink {
    font-size: 1rem; /* Adjust font size for link */
  }

  .registeredName {
    font-size: 0.9rem;
  }

  .registeredLabel {
    font-size: 0.9rem;
  }

  .interestedRiderText {
    font-size: 0.9rem;
  }
}
