:root {
  --bg-dark: #2e2e2e;
  --bg-light: #ffffff;
  --border-dark: #868686;
  --border-lite: #868686;
  --alt-bg-lite: #f4f4f4;
  --alt-bg-dark: #363636;
  --link: #1e90ff;
  --b2c2-blue: #4385f0;
  --b2c2-orange: #f0b343;
}
