.title {
  font-size: rem(70px);
  font-weight: 1000;
  letter-spacing: rem(-1px);
  line-height: 0.8;
  margin-left: 16px;
  margin-right: 8px;
  max-width: 600px;
}

.topNavContainer {
  width: 100%;
}

.horizontalNavAnchor {
  margin-right: 16px;
}

.verticalNavAnchor {
  margin-bottom: 16px;
}
