.submissionForm {
  margin: 16px;
  margin-top: 32px;
}

.formInput {
  margin-right: 8px;
}

.urlInput {
  width: 100%;
}

.formTextInput {
  margin-right: 8px;
}

.disciplineInput {
  width: 250px;
}

.formContainer {
  margin-top: 25px;
}

.formDescription {
  font-style: italic;
  text-align: left;
}

.drawerButton {
  color: light-dark(var(--mantine-color-black-9), var(--mantine-color-white-3));
}
