.submissionForm {
  margin: 16px;
  margin-top: 32px;
}

.formCore {
  max-width: 400px;
}

.formInput {
  margin-right: 8px;
}

.urlInput {
  min-width: 100%;
}

.formTextInput {
  margin-right: 8px;
}

.disciplineInput {
  width: 250px;
}

.submitButton {
  width: 150px;
}

.formContainer {
  margin-top: 25px;
}

.formDescription {
  max-width: 500px;
  font-style: italic;
  text-align: left;
}
