.submissionForm {
  margin: 16px;
  margin-top: 32px;
}

.formInput {
  margin-right: 8px;
}

.urlInput {
  width: 100%;
}

.formTextInput {
  margin-right: 8px;
}

.disciplineInput {
  width: 250px;
}

.formContainer {
  margin-top: 25px;
}

.formDescription {
  font-style: italic;
  text-align: left;
}

.drawerButton {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-3));
}

.draggableRidersBox {
  padding: 1rem;
  text-align: center;
  color: #868e96;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ced4da;
  border-radius: 4px;
  font-size: 0.875rem;
}
