.xButton {
  margin-right: 8px;
}

.loading {
  margin-top: 16px;
}

/* Paper.module.css */
.paper {
  /* min-height: 200px; */
  /* transition: background-color 0.2s; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.over {
  background-color: #2e2e2e;
}

.default {
  background-color: #363636;
}

.primaryListRider {
  color: #e8b556; /* Softer orange */
  border-radius: 4px;
  font-size: 0.875rem;
}

.secondaryListRider {
  border-radius: 4px;
  font-size: 100px;
}

.placeholderRider {
  background-color: #363636;
  color: var(--mantine-color-gray-5);
  border: 1px dashed var(--mantine-color-gray-7);
  font-size: 0.875rem;
}

.draggingRider {
  cursor: grabbing;
  user-select: none;
  font-size: 0.875rem;
}

/* Make adjustments for smaller screens */
@media (max-width: 825px) {
  .secondaryListRider {
    font-size: 0.5rem;
  }

  .placeholderRider {
    font-size: 0.6rem;
  }

  .riderListText {
    font-size: 0.75rem;
  }
}
